<div id = 'burgers-new' class = 'portion'>
	{{#each burger}}
		{{#unless this.devoured}}
			<div class = 'burger-listing'>
				<div class = 'burger-name'>
					{{this.burger_name}}
				</div>
				<form action="/{{this.id}}?_method=PUT" method="POST" class='devour-form'>
					<input type="hidden" name="devoured" value="true">
					<button type="submit" title = 'devour this burger'>devour</button>
				</form>
			</div>
		{{/unless}}
	{{/each}}
</div>
<div id = 'burger-center' class = 'portion'>
	<img src={{burgerImage.source}} alt='{{burgerImage.name}}'' id='burger-image' title = 'image used without permission: found through google.com'>
	<h2>create your own burger</h2>
	<form id = 'create-burger-form' action = '/' method = 'POST'>
		<div class = 'form-section'>
			<label>burger name:</label>
			<br>
			<input type = 'text' name = 'burger_input' placeholder = 'describe your dream burger' id = 'burger-input'>
			<input type="hidden" name="devoured" value="0">
		</div>
		<button type = 'submit' title = 'press enter or click here to submit your burger'>submit your burger!</button>
	</form>
</div>
<div id = 'burgers-devoured' class = 'portion'>
	{{#each burger}}
		{{#if this.devoured}}
			<div class = 'burger-listing-devoured'>
				<div class = 'burger-name'>
					{{this.burger_name}}
				</div>
				<form action="/{{this.id}}?_method=PUT" method="POST" class='devour-form'>
					<input type="hidden" name="devoured" value="false">
					<button type="submit" title = 'un-devour this burger'>un-devour :)</button>
				</form>
			</div>
		{{/if}}
	{{/each}}
</div>